:root {
	--colour1: #223843;
	--colour2: #223843;
}

* {
	text-align: center;
	color: antiquewhite;
}

#App {
	background-color: var(--colour1);
	background-image: linear-gradient(
		315deg,
		var(--colour1) 0%,
		var(--colour2) 74%
	);
	background-size: 600%;
	animation: bg-colour-animation 10s infinite alternate;
	display: flex;
	flex-direction: column;
}

@keyframes bg-colour-animation {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

.timer-container {
	display: grid;
	width: 85%;
	margin: auto;
	transition: width 0.2s;
	transition: padding-top 0.2s;
}

.timer-container:active {
	width: 80%;
	padding-top: 8vh;
}
